.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: beige;
    padding: 20px 44px 20px 20px;
    border-radius: 10px;
}

.personContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.personContainer span {
    cursor: pointer;
}