.img {
  width: 600px;
  height: 420px;
  object-fit: cover;
}

.category {
  font-size: 12px;
  font-weight: 600;
}

.title {
  margin-top: 0;
}

.textwrapper {
  max-width: 600px;
}

.text {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: none;
  -webkit-box-orient: vertical;
}
